.grid {
    position: relative;
    display: grid;
    gap: 1px;
    width: fit-content;
    background-color: rgba(12, 12, 12, 0.262);
    grid-template-columns: repeat(var(--cols), 100px);
    grid-template-rows: repeat(var(--rows), 25px);
}