@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

:root {
  --color-primary: black; 
  --color-secondary: white; 

  --color-background: white; 
  --color-surface: white;

  --color-accent-1: #0039a9;
  --color-error: 	#a92022;

  --size-thin: 1.5px;
  --border-radius-1: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

